<h3 style="text-align: center;">Create Customer</h3>
<div [hidden]="submitted" style="width: 400px;">

  <form [formGroup]="createForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" formControlName="title"
             id="title" name="title">
      <div class="alert alert-danger"
           *ngIf="(title.touched) && (title.invalid)"
           style="margin-top: 5px;">
        <span *ngIf="title.errors.required"> Title is required.</span>
        <span *ngIf="title.errors.maxlength"> Title needs to be smaller.</span>
        <span
          *ngIf="title.errors.pattern"> Enter only english letters, please!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" formControlName="first_name"
             data-toggle="tooltip" id="first_name" data-placement="right"
             title="Enter Customer Name" name="first_name">
      <div class="alert alert-danger"
           *ngIf="(firstName.touched) && (firstName.invalid)"
           style="margin-top: 5px;">
        <span *ngIf="firstName.errors.required"> First name is required.</span>
        <span
          *ngIf="firstName.errors.minlength"> First name needs to be bigger.</span>
        <span
          *ngIf="firstName.errors.maxlength"> First name needs to be smaller.</span>
        <span *ngIf="firstName.errors.pattern"> Enter only english letters, please!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" formControlName="last_name"
             data-toggle="tooltip" id="last_name" data-placement="right"
             title="Enter last name" name="last_name">
      <div class="alert alert-danger"
           *ngIf="(lastName.touched) && (lastName.invalid)"
           style="margin-top: 5px;">
        <span *ngIf="lastName.errors.required"> Last name is required.</span>
        <span
          *ngIf="lastName.errors.minlength"> Last name needs to be bigger.</span>
        <span
          *ngIf="lastName.errors.maxlength"> Last name needs to be smaller.</span>
        <span *ngIf="lastName.errors.pattern"> Enter only english letters, please!</span>
      </div>
    </div>

    <div class="form-group">
      <label for="type">Customer type</label>
      <select class="form-control" formControlName="type" data-toggle="tooltip"
              data-placement="right" title="Select type of the customer"
              id="type">
        <ng-container *ngFor="let type of customerTypes | async">
          <option value="{{type.id}}">{{type.caption}}</option>
        </ng-container>
      </select>
      <div class="alert alert-danger"
           *ngIf="(type.touched) && (type.invalid)"
           style="margin-top: 5px;">
        <span *ngIf="type.errors.required"> Choose a type, please.</span>
      </div>
    </div>
    <button type="submit" [disabled]="!createForm.valid"
            class="btn btn-success">Submit
    </button>
  </form>
</div>

<div [hidden]="!submitted">
  <p style="text-align: center;">You submitted successfully!
    The customer
    <b>{{customer.title}} {{customer.firstName}} {{customer.lastName}}</b> has
    been added to the system </p>
</div>
